html {
    body {
        background-color: #efefef;

    }
}
.log-drawer {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    z-index: 5;
    height: 240px; 
    transition: height 0.3s ease;
    
    #terminal-output {
        height: 200px;
        overflow-y: auto;
    }

    &.expanded {
        height: calc(100vh - 100px);
        .drawer-content{
            height:100%;
        }

        #terminal-output {
            height: calc(100% - 35px);
            overflow-y: auto;
        }
    }

}

body.toggled:not(body.toggled.sidebar-hovered) .logo-img {
    width: 40px;
}
