html{
    body{
        background-color: #efefef;

    }
}
#terminal-output{
    height: 200px; 
    overflow-y: scroll; 
    background-color: #f0f0f0; 
    padding: 10px; 
    border: 1px solid #ccc;
}

