<!DOCTYPE html>
<html lang="de">
<head>
    <title>Suno KIt</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uikit.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   
    <!--- JS -->
    <script src="{{ url_for('static', filename='js/uikit.min.js') }}" defer></script>
    <script src="{{ url_for('static', filename='js/uikit-icons.min.js') }}" defer></script>
</head>
<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('data_preparation.data_preparation') }}">Datenvorbereitung</a></li>
                <li><a href="{{ url_for('training.training') }}">Training</a></li>
                <li><a href="{{ url_for('lyrics_generation.lyrics_generation') }}">Lyricsgenerator</a></li>
            </ul>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="uk-container uk-margin">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
