<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Suno KIt</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- CSS -->
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/uikit.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/style.min.css') }}">
    
        <!--- JS -->
        <script src="{{ url_for('static', filename='dist/js/uikit.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='dist/js/uikit-icons.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='dist/js/socket.io.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='src/js/script.js') }}" defer></script>

    </head>
    <body>
        <!-- Sticky Navbar -->
        <div uk-sticky="sel-target: .uk-navbar; cls-active: uk-navbar-sticky">
            {% include 'layout/navbar.html' %}
        </div>

        <!-- Main Content -->
        <div class="uk-section uk-section-default">
            <div class="uk-container uk-margin" id="main-content">
                {% block content %}
                    <!-- Hier wird der dynamische Inhalt jeder Route eingefügt -->
                    {{ content | safe }}
                {% endblock %}
            </div>
        </div>

  
        <!-- Collapsible Footer -->
        <div class="uk-section uk-section-secondary uk-margin-remove uk-padding-small" id="debug-footer">    
            <div class="uk-container">
                <ul uk-accordion>
                    <li>
                        <a class="uk-accordion-title">log</a>
                        <div class="uk-accordion-content" id="footer-content">
                            {% include 'layout/footer.html' %}
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>
