<!DOCTYPE html>
<html lang="de" data-bs-theme="light">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Suno Kit</title>

    <!-- CSS -->
    <link href="{{ url_for('static', filename='dist/css/pace.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/plugins/metismenu/metisMenu.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/plugins/metismenu/mm-vertical.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/css/bootstrap-extended.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='dist/css/style.min.css') }}" rel="stylesheet">

    <!-- JS -->
    <script src="{{ url_for('static', filename='dist/js/pace.min.js') }}"></script>
</head>

<body>
    <!--start sidebar-->
    {% include 'layout/navbar.html' %}
    <!--end sidebar-->

    <!--start main wrapper-->
    <main class="main-wrapper">
        <div class="main-content">
            {% block content %}
                {{ content | safe }}
            {% endblock %}
        </div>
    </main>
    <!--end main wrapper-->

    <!--start overlay-->
    <div class="overlay btn-toggle"></div>
    <!--end overlay-->

    <!--start footer-->
    <footer class="page-footer">
        <div id="debug-footer">
            {% include 'layout/footer.html' %}
        </div>
    </footer>
    <!--end footer-->

    <!-- Scripts -->
    <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/plugins/metismenu/metisMenu.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/plugins/simplebar/js/simplebar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/js/socket.io.min.js') }}"></script>
    <script src="{{ url_for('static', filename='src/js/script.js') }}"></script>
</body>
</html>
