<!DOCTYPE html>
<html lang="de" data-bs-theme="blue-theme">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Suno Kit</title>
        
        <script src="{{ url_for('static', filename='dist/js/socket.io.min.js') }}" defer></script>
        <script src="{{ url_for('static', filename='src/js/script.js') }}" defer></script>

        <!-- Plugins CSS -->
        <link href="{{ url_for('static', filename='dist/plugins/perfect-scrollbar/css/perfect-scrollbar.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/plugins/metismenu/metisMenu.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/plugins/metismenu/mm-vertical.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/plugins/simplebar/css/simplebar.css') }}" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link href="{{ url_for('static', filename='dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/css/bootstrap-icons.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/css/bootstrap-extended.min.css') }}" rel="stylesheet">


        <!-- Theme CSS -->
        <link href="{{ url_for('static', filename='dist/css/main.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/css/dark-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/css/blue-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/css/semi-dark.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/css/bordered-theme.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/css/responsive.min.css') }}" rel="stylesheet">
        <link href="{{ url_for('static', filename='dist/css/style.min.css') }}" rel="stylesheet">

    </head>
    <body>
        {%  include 'layout/navbar.html' %}
        {% include 'layout/sidebar.html' %}

        <main class="main-wrapper">
            <div class="main-content" id="main-content">
                {% block content %}
                    {{ content | safe }}
                {% endblock %}

            </div>
            <div class="drawer-spacer">&nbsp;</div>
            <div class="log-drawer">
                {% include 'modules/log.html' %}
            </div>
        </main>
        <footer class="footer">
                {% include 'layout/footer.html' %}
        </footer>

        {% include 'modules/customizer.html' %}
        {% include 'modules/taskmanager.html' %}

        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='dist/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Plugins -->
        <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/plugins/perfect-scrollbar/js/perfect-scrollbar.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/plugins/metismenu/metisMenu.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/plugins/apexchart/apexcharts.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/plugins/simplebar/js/simplebar.min.js') }}"></script>
        <script src="{{ url_for('static', filename='dist/plugins/peity/jquery.peity.min.js') }}"></script>

        <script>
            $(".data-attributes span").peity("donut")
        </script>

        <!-- Custom JS -->
        <script src="{{ url_for('static', filename='dist/js/main.min.js') }}"></script>
    </body>
</html>
