<aside class="sidebar-wrapper" data-simplebar>
    <div class="sidebar-header">
        <div class="logo-icon">
            <img src="{{ url_for('static', filename='images/logo-icon.png') }}" class="logo-img" alt="">
        </div>
        <div class="logo-name flex-grow-1">
            <h5 class="mb-0">Suno Kit</h5>
        </div>
        <div class="sidebar-close">
            <span class="material-icons-outlined">close</span>
        </div>
    </div>
    <div class="sidebar-nav">
        <ul class="metismenu" id="sidenav">
            {% for page in pages %}
            <li class="{% if current_page == page.url %}mm-active{% endif %}">
                <a href="{{ url_for(page.url) }}" data-ajax="true">
                    <div class="parent-icon">
                        <i class="material-icons-outlined">{{ page.icon|default('article') }}</i>
                    </div>
                    <div class="menu-title">{{ page.name }}</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</aside>

<!-- Thread Monitor Modal -->
<div class="modal fade" id="thread-modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Task Manager</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div id="active-threads">
                    <template id="task-card-template">
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title task-name"></h5>
                                <p class="card-text task-status"></p>
                                <div class="btn-group">
                                    <button class="btn btn-primary pause-task">Pause</button>
                                    <button class="btn btn-success resume-task" style="display:none">Resume</button>
                                    <button class="btn btn-danger stop-task">Stop</button>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>
